<div class="pageMainTitle">
     <h3>
          Password Manager
     </h3>
</div>

<div class="pageMainContent setup_password_page">
     <div class="row">
          <div class="col-sm-7">
               <p-accordion [multiple]="true">
                    <p-accordionTab class="acc-box" [selected]="true">
                         <p-header>
                              <h3>Special Rules</h3>
                              <p>Set special rules for the password creation criteria.</p>
                         </p-header>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Numerical Sequence</h3>
                                   <p>Password can contain Numerical sequence ex: 123</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Alphabetical Sequence</h3>
                                   <p>Password can contain Alphabetical sequence ex: ABC</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption2"></p-selectButton>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Username</h3>
                                   <p>Password can contain the username</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption3"></p-selectButton>
                              </div>
                         </div>
                    </p-accordionTab>
                    <p-accordionTab class="acc-box" [selected]="true">
                         <p-header>
                              <h3>General Rules</h3>
                              <p>Set general password password policy to be followed when user need to create/change his
                                   password.</p>
                         </p-header>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Numerical Sequence</h3>
                                   <p>Password can contain Numerical sequence ex: 123</p>
                              </div>
                              <div class="right">
                                   <div class="plus-minus-holder">
                                        <button class="plusminus" (click)="handleMinus()">-</button>
                                        <input type="number" class="num" value="0" [(ngModel)]="value" />
                                        <button class="plusminus" (click)="handlePlus()">+</button>
                                   </div>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Uppercase Character Rule</h3>
                                   <p>Require at least one uppercase letter</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         <div class="pass-role">
                              <div class="left">
                                   <p>Minimum required number of uppercase characters</p>
                              </div>
                              <div class="right">
                                   <div class="plus-minus-holder">
                                        <button class="plusminus" (click)="handleMinus()">-</button>
                                        <input type="number" class="num" value="0" [(ngModel)]="value" />
                                        <button class="plusminus" (click)="handlePlus()">+</button>
                                   </div>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Lower Character Rule</h3>
                                   <p>Require at least one lower letter</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         <div class="pass-role">
                              <div class="left">
                                   <p>Minimum required number of lower characters</p>
                              </div>
                              <div class="right">
                                   <div class="plus-minus-holder">
                                        <button class="plusminus" (click)="handleMinus()">-</button>
                                        <input type="number" class="num" value="0" [(ngModel)]="value" />
                                        <button class="plusminus" (click)="handlePlus()">+</button>
                                   </div>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Digit Character Rule</h3>
                                   <p>Require at least one digit letter</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         <div class="pass-role">
                              <div class="left">
                                   <p>Minimum required number of digital characters</p>
                              </div>
                              <div class="right">
                                   <div class="plus-minus-holder">
                                        <button class="plusminus" (click)="handleMinus()">-</button>
                                        <input type="number" class="num" value="0" [(ngModel)]="value" />
                                        <button class="plusminus" (click)="handlePlus()">+</button>
                                   </div>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Special Character Rule</h3>
                                   <p>Require at least one special letter</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         <div class="pass-role">
                              <div class="left">
                                   <p>Minimum required number of special characters</p>
                              </div>
                              <div class="right">
                                   <div class="plus-minus-holder">
                                        <button class="plusminus" (click)="handleMinus()">-</button>
                                        <input type="number" class="num" value="0" [(ngModel)]="value" />
                                        <button class="plusminus" (click)="handlePlus()">+</button>
                                   </div>
                              </div>
                         </div>
                    </p-accordionTab>
                    <p-accordionTab class="acc-box" [selected]="true">
                         <p-header>
                              <h3>Security Rules</h3>
                              <p>Additional security rules for passwords.</p>
                         </p-header>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Allow Password Reuse</h3>
                                   <p>This will let users reuse one of their latest 2 historical passwords</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Enable Password Expiration</h3>
                                   <p>Password will automatically expire after a specific duration</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Days before password expires</h3>
                              </div>
                              <div class="right">
                                   <div class="plus-minus-holder">
                                        <button class="plusminus" (click)="handleMinus()">-</button>
                                        <input type="number" class="num" value="0" [(ngModel)]="value" />
                                        <button class="plusminus" (click)="handlePlus()">+</button>
                                   </div>
                              </div>
                         </div>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Prompt user to change password upon login one day before expiration</h3>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Login attempts before lockout</h3>
                              </div>
                              <div class="right">
                                   <div class="plus-minus-holder">
                                        <button class="plusminus" (click)="handleMinus()">-</button>
                                        <input type="number" class="num" value="0" [(ngModel)]="value" />
                                        <button class="plusminus" (click)="handlePlus()">+</button>
                                   </div>
                              </div>
                         </div>
                         <hr>
                         <div class="pass-role">
                              <div class="left">
                                   <h3>Prevent Password Change</h3>
                                   <p>Prevent user from changing his password</p>
                              </div>
                              <div class="right">
                                   <p-selectButton [options]="options" [(ngModel)]="selectedOption"></p-selectButton>
                              </div>
                         </div>
                         
                    </p-accordionTab>
               </p-accordion>
          </div>
          <div class="col-sm-5">
               <p>Shweyt Kalam</p>
          </div>
     </div>
</div>