<div class="login-page">
     <div class="p-overlay"></div>
     <div class="container-fluid">
          <div class="quick-login-page">
               <form>
                    <div class="head">
                         <h4>Welcome to</h4>
                         <h3>Dispute Clearing House</h3>
                    </div>
                    <div class="fields">
                         <div class="shortName">
                              AS
                         </div>
                         <h3>Amr Soliman</h3>
                         <h5>amr_soliman</h5>
                         <div class="form-group">
                              <div class="group-input password-holder">
                                   <input type="password" class="form-control" value="00000" />
                                   <span>Show</span>
                              </div>
                         </div>
                         <button class="btn btn-dafault submit-button">Login</button>
                         <p>Not Amr? <a href="javascript:;"  [routerLink]="['/login']">Switch user</a></p>
                    </div>
               </form>
               <div class="dateTime">
                    <h3>
                         10:14 AM
                    </h3>
                    <h4>Wednesday, June 26 </h4>
               </div>
          </div>
     </div>
</div>