<form [formGroup]="formObject" (ngSubmit)="updateUserPassword()">
  <h3 class="title">Change your password</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>
          Current Password
        </label>
        <div class="input-group password-holder">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="old_password"
          />
          <span *ngIf="!showPassword" (click)="showPasswordFn('o')">Show</span>
          <span *ngIf="showPassword" (click)="showPasswordFn('o')">Hide</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>
          New Password
        </label>
        <div class="input-group password-holder">
          <input
            [type]="showNPassword ? 'text' : 'password'"
            class="form-control"
            (keyup)="checkPValue($event)"
          />
          <span *ngIf="!showNPassword" (click)="showPasswordFn('n')">Show</span>
          <span *ngIf="showNPassword" (click)="showPasswordFn('n')">Hide</span>
        </div>
      </div>
      <div class="password-strength">
        <div class="progress-holder">
          <p>{{ passwordStrengthString }}</p>
          <div class="progress">
            <div
              class="progress-bar"
              [ngClass]="passwordStrengthClass"
              role="progressbar"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: passwordStrengthPercent + '%' }"
            ></div>
          </div>
        </div>
        <div class="generate">
          <a href="javascript:;">Generate password</a>
        </div>
      </div>
      <div class="form-group">
        <label>
          Re-type Password
        </label>
        <div class="input-group password-holder cPasswordHolder">
          <input
            [type]="showCPassword ? 'text' : 'password'"
            class="form-control"
            (keyup)="checkCPValue($event)"
            formControlName="new_password"
          />
          <span *ngIf="!showCPassword" (click)="showPasswordFn('c')">Show</span>
          <span *ngIf="showCPassword" (click)="showPasswordFn('c')">Hide</span>
          <span class="matchedPass" [ngClass]="{ pass: matchedPasswords }">
            <i class="zmdi zmdi-check"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="password-rules">
        <ul class="list-unstyled">
          <li [ngClass]="{ pass: charSequenceBoolean }">
            <span>
              <i class="zmdi zmdi-check"></i>
            </span>
            <span>
               Contains at least {{ charSequenceCount }} consecutive characters
            </span>
          </li>
          <li [ngClass]="{ pass: numSequenceBoolean }">
            <span>
              <i class="zmdi zmdi-check"></i>
            </span>
            <span>
               Contains at least {{ numSequenceCount }} consecutive numbers
            </span>
          </li>
          <li [ngClass]="{ pass: digitsBoolean }">
            <span>
              <i class="zmdi zmdi-check"></i>
            </span>
            <span>
               Contains at least {{ digitsCount }} numbers
            </span>
          </li>
          <li [ngClass]="{ pass: lowerCharBoolean }">
            <span>
              <i class="zmdi zmdi-check"></i>
            </span>
            <span>
               Contains at least {{ lowerCharCount }} lowercase characters
            </span>
          </li>
          <li [ngClass]="{ pass: upperCharBoolean }">
            <span>
              <i class="zmdi zmdi-check"></i>
            </span>
            <span>
               Contains at least {{ upperCharCount }} upperscase characters
            </span>
          </li>
          <li [ngClass]="{ pass: specialCharBoolean }">
            <span>
              <i class="zmdi zmdi-check"></i>
            </span>
            <span>
               Contains at least {{ specialCharCount }} special characters
            </span>
          </li>
          <li [ngClass]="{ pass: minCharBoolean }">
               <span>
                 <i class="zmdi zmdi-check"></i>
               </span>
               <span>
                  Min length is {{minCharCount}}
               </span>
             </li>
          <li [ngClass]="{ pass: maxCharBoolean }">
            <span>
              <i class="zmdi zmdi-check"></i>
            </span>
            <span>
              Max length is {{maxCharCount}}
            </span>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-default submit-button">Update Password</button>
    </div>
    <div class="col-sm-3">
      <a href="javascript:;" class="forget-link">I forget my password</a>
    </div>
  </div>
</form>
