<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button" (click)="toggleSmallMenu()">
            <i class="zmdi zmdi-chevron-left"></i>
        </button>
        <a href="javascript:;" [routerLink]="['/admin/dashboard']">
            <img src="assets/images/logo.png" alt="logo-img">
            <span class="m-l-10">
                DCH
                <small>Dispute Clearing House</small>
            </span>
        </a>
    </div>
    <div class="menu">
        <div class="search-box">
            <input type="text" class="form-control" placeholder="Quick access">
            <i class="zmdi zmdi-search"></i>
        </div>
        <ul class="list">
            <li>
                <a class="main-link" [routerLink]="['/admin/dashboard']" routerLinkActive="active" (click)="openItem('dashboard')">
                    <i class="zmdi zmdi-view-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a class="main-link" [routerLink]="['/admin/setup']" routerLinkActive="active" [ngClass]="{'toggled':activeMenu == 'setup'}" (click)="openItem('setup')">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Setup</span>
                </a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'setup'}">
                    <li><a [routerLink]="['/admin/setup/users']" routerLinkActive="active">Users</a></li>
                    <li><a [routerLink]="['/admin/setup/profiles']" routerLinkActive="active">Profiles</a></li>
                    <li><a [routerLink]="['/admin/setup/banks']" routerLinkActive="active">Banks</a></li>
                    <li><a [routerLink]="['/admin/setup/password-manager']" routerLinkActive="active">Password Manager</a></li>
                </ul>
            </li>
            <li>
                <a class="main-link" [routerLink]="['/routePath']" routerLinkActive="active" (click)="openItem('transactions')">
                    <i class="zmdi zmdi-swap"></i>
                    <span>Transactions</span>
                </a>
            </li>
            <li>
                <a class="main-link" [routerLink]="['/routePath']" routerLinkActive="active" (click)="openItem('dispute')">
                    <i class="zmdi zmdi-chevron-down"></i>
                    <span>Dispute</span>
                </a>
            </li>
            <li>
                <a class="main-link" [routerLink]="['/routePath']" routerLinkActive="active" (click)="openItem('log')">
                    <i class="zmdi zmdi-copy"></i>
                    <span>System Log</span>
                </a>
            </li>
            <li>
                <a class="main-link" [routerLink]="['/routePath']" routerLinkActive="active" (click)="openItem('reporting')">
                    <i class="zmdi zmdi-assignment"></i>
                    <span>Reporting</span>
                </a>
            </li>

            <li>
                <a class="main-link" [routerLink]="['/admin/account-settings']" routerLinkActive="active" (click)="openItem('account')">
                    <i class="zmdi zmdi-assignment-account"></i>
                    <span>Account Settings</span>
                </a>
            </li>

        </ul>
    </div>
</aside>